{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
holas
{% for itemlibro in listalibros %}
    <li><a href="{{ path('gens_libro', {'libro':itemlibro.libro})}}">{{itemlibro.libro}}</a></li>
{% endfor %}
{% endblock fos_user_content %}
