{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}

<!--slider starts-->
<div id="slider-wrapper">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <ul>
        
        <!--first slide starts-->
        <li data-transition="fade" data-masterspeed="300"> 
          
          <!--background image for first slide--> 
          <img src="img/rev-slider/slider-bg.jpg" alt="image"> 
          
          <!--all content / captions of first slide-->
          <div class="caption large_text lfl"
                                 data-x="30"
                                 data-y="168"
                                 data-speed="600"
                                 data-start="500"
                                 data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> Gens </div>
          <div class="caption large_text sfr sfl"
                                 data-x="217"
                                 data-y="168"
                                 data-speed="600"
                                 data-start="500"
                                 data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> <strong>Sakya</strong> </div>
          <div class="caption lft ltb"
                                 data-x="600"
                                 data-y="60"
                                 data-speed="600"
                                 data-start="1300"
                                 data-easing="easeOutExpo" data-end="3300" data-endspeed="600" data-endeasing="easeInSine"><img src="img/rev-slider/slide-1/slide1-img1.jpg" alt="image"></div>
          <div class="caption caption-box-orange sfb"
                                 data-x="950"
                                 data-y="365"
                                 data-speed="340"
                                 data-start="1600"
                                 data-easing="easeOutExpo" data-end="3500" data-endspeed="300" data-endeasing="easeInSine">Radha</div>
          <div class="caption lft ltb"
                                 data-x="600"
                                 data-y="60"
                                 data-speed="600"
                                 data-start="3800"
                                 data-easing="easeOutExpo" data-end="5800" data-endspeed="600" data-endeasing="easeInSine"><img src="img/rev-slider/slide-1/slide1-img2.jpg" alt="image"></div>
          <div class="caption caption-box-blue sfb sfb"
                                 data-x="970"
                                 data-y="365"
                                 data-speed="300"
                                 data-start="4100"
                                 data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine" >Xenoi</div>
        </li>
        <!--first slide ends-->         
      </ul>
    </div>
  </div>
</div>
<!--slider ends--> 


{% endblock fos_user_content %}

