{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="container">
	{% for itemcapitulo in micapitulo %}
	    <div class="icon-wrapper">
	    <span class="inside">
	    	<i class="icon icon-image"></i>
	    </span>
	    				</div>
	    <h2 class="blog-title"><span>Capítulo {{itemcapitulo.numerocapitulo}}</span> {{itemcapitulo.capitulo}}</h2>
	    {{itemcapitulo.contenido}}
	{% endfor %}
</div>

{% endblock fos_user_content %}
