{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="container">
	{% for itemcapitulo in micapitulo %}
	    <h1><span>Capítulo {{itemcapitulo.numerocapitulo}}</span> {{itemcapitulo.capitulo}}</h1>
	    {{itemcapitulo.contenido}}
	{% endfor %}
</div>

{% endblock fos_user_content %}
