{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="container">
	{% for itemcapitulo in micapitulo %}
	    <div class="icon-wrapper">
	    <span class="inside">
	    	<i class="icon icon-pencil"></i>
	    </span>
	    </div>
	    <div class="row"><h2 class="blog-tit"><span>Capítulo {{itemcapitulo.numerocapitulo}}</span> {{itemcapitulo.capitulo}}</h2></div>
	    <div class="row"><div class="elcontenido">{{itemcapitulo.contenido}}</div></div>
	{% endfor %}
</div>

{% endblock fos_user_content %}
