{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
holas
 {% for itemcapitulo in listacapitulos %}
    <li><a href="">Capítulo {{itemcapitulo.numerocapitulo}} - Comienzanombre {{itemcapitulo.capitulo}}</a><br><br>{{itemcapitulo.contenido}}</li>
{% endfor %} 

{% endblock fos_user_content %}
